<!-- Views/Usuario/Details.cshtml -->
@model EasyPark.Models.Entidades.Usuario.Usuarios

<h2>Detalhes do Usuário</h2>

<div>
    <h4>@Model.Nome</h4>
    <p>CPF: @Model.Cpf</p>
    <p>Nome da Instituição: @Model.NomeInstituicao</p>
</div>

<div>
    @Html.ActionLink("Voltar à Lista", "Index")
</div>
